<div id="<%= dom_id user %>">
<% current_borrows = Borrow.where(user_id:current_user.id,ended_at:nil) %>
<% past_borrows = Borrow.where(user_id:current_user.id).where.not(ended_at: nil) %>
    <h1>Votre profil utilisateur</h1>
    <hr>
    <h4>Mes informations personnelles</h4>
    <h6>Nom : <%= user.lastname%></h6>
    <h6>Prenom : <%= user.firstname%></h6>
    <h6>Email : <%= user.email%></h6>
    <hr>
    <h4>Mes prêts en cours</h4>
    <% current_borrows.each do |borrow| %>
        <% this_book = Book.find_by(id:borrow.book_id)%>
        <%= render this_book %>
    <%end%>
    <hr>
    <h4>Historique de mes prêts</h4>
    <div class="row">
    <% past_borrows.each do |borrow| %>
        <% this_book = Book.find_by(id:borrow.book_id)%>
        <div class="col-6">
        <div class="card">
            <div class="card-header">Emprunt réalisé le : <%= borrow.started_at.strftime("%d/%m/%Y")%></div>
            <div class="card-body">
                
        <%= render this_book %>
        </div>
        </div>
        </div>
        </div>
    <%end%>
</div>
</div>