<div id="<%= dom_id @book %>">
<% is_borrow = Borrow.find_by(book_id:@book.id,ended_at:nil)%>
<div class="row">
  <div class="col-4 relative-pos">
    <%= image_tag 'book.png', alt: 'Kindle-on-Rails, a book', class: 's-image' %>
  </div>
  <div class="col-5">
    <div>
      <h1><%= @book.title %></h1>
    </div>
  <div>
      <h5><i><%= @book.author %> - <%= @book.publish_year %></i></h5>
    </div>
<div>
      <strong>Nombre d'emprunt:</strong>
      <%= @book.number_borrow %>
    </div>

    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
            <% if(is_borrow) %>
              <h6 class="text-danger">Ce livre est en cours d'emprunt depuis le <%= is_borrow.started_at.strftime("%d/%m/%Y") %>.</h6>
              <p class="text-danger">Vous devez attendre le retour de ce livre pour pouvoir l'emprunter.</p>
              <% if(current_user && current_user.id == is_borrow.user_id)%>
              <%= form_with(url: close_borrow_borrow_path(@book, return_to: request.path), method: :delete, class:"full-width") do |form| %>
                <%= form.submit "Rendre ce chef d'oeuvre", class:"btn btn-danger" %>
              <%end%>
              <%end%>
            <%else%>
              <h6 class="text-success">Ce livre est disponible.</h6>
              <p class="text-success">Empruntez-le maintenant!</p>
              <%= form_with(url: create_borrow_borrow_path(@book), method: :post) do |form| %>
                <%= form.submit "Emprunter ce chef d'oeuvre", class:"btn btn-success" %>
              <%end%>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
